.app {
  padding: 20px;
}

section {
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
}

input,
select,
button {
  display: block;
  margin: 8px 0;
  padding: 8px;
}

label {
  display: block;
  margin: 6px 0;
}

button {
  cursor: pointer;
  background-color: rgba(0, 151, 255, 0.8);
  border-color: rgba(0, 151, 255, 0.8);
}

.cart-item,
.order-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
}